header {
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

header a {
    text-decoration: none;
    color: var(--text-color);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;

    flex-direction: column;

    padding: 10px;
    border-radius: 6px;

    background: rgba(255, 255, 255, 0.06);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.3px);
    -webkit-backdrop-filter: blur(9.3px);
    border: 1px solid rgba(255, 255, 255, 0.34);
}

nav ul {
    display: flex;
    list-style: none;
    gap: 8px;
}

nav li {
    padding: 5px;
}

#contact-link {
    background: var(--secondary-brand-color);
    color: var(--text-color);
    border-radius: 5px;
    padding: 5px 10px;
}