@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --main-color: rgb(34, 38, 41);
    --light-main-color: #474B4F;
    --primary-brand-color: #86C232;
    --secondary-brand-color: #2f7189;
    --text-color: #F5F5F5;
    --secondary-text-color: #6B6E70;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}